:root {
  --svgColor: var(--primaryDark);
  --svgStrokeW: 3px;
  --svgStrokeWTwo: 10px;
  --aboutTopSpacer: 23%;
  --aboutBottomSpacer: 20%;
}

.about-container {
  font-family: CourierPrime;
  font-size: 1.25rem; 
  display: grid;
  /* background-color: red; */
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "meStuff flexMagicShow";
  max-width: 1600px;
}

.about-container[data-goOn="true"] {
  grid-template-columns: 1fr 5fr;
  height: 100%;
  max-width: 1200px;
}

.flex-show-n-tell {
  grid-area: flexMagicShow;
  display: flex;
  min-width: 100%;
  height: 100%;
  /* border: orange solid; */
  box-sizing: border-box;
}

.flex-show,
.flex-tell {
  /* flex: 1; */
  overflow: hidden;
  /* border: orange solid; */
}

.flex-show {
  /* background-color: green; */
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  grid-template-columns: 4fr 3fr;
  grid-template-areas: "problemSolver rightSide";
}

.flex-cape {
  border-left: 3px black dashed;
  position: relative;
  left: 3px;
  /*^ width of border to remove it from window ^ */
  overflow: hidden;
  box-sizing: border-box;
}

.flex-tell {
  /* background-color: red; */
  flex: 0;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "detailedAbout detailedIcons";
  overflow: hidden;
}

.detailed-about-container {
  grid-area: detailedAbout;
  display: flex;
  position: relative;
  justify-content: center;
  /* background-color: green; */
  height: 100%;
  overflow: hidden;
}

.detailed-about-left {
  height: 100%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  /* background-color: purple; */
}

.detailed-left-top {
  /* background-color: purple; */
  /* height: var(--aboutTopSpacer);  */
  /* set this to variable to decide spacing-height */
  overflow: hidden;
}

.detailed-left-middle {
  /* background-color: red; */
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 2px var(--primaryDark) dashed;
}

.detailed-left-bottom {
  height: var(--aboutBottomSpacer);
  width: 100%;
  /* background-color: orange; */
  overflow: hidden;
}

.detailed-about-middle {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  width: 2px;
  /* background-color: blue; */
}

.detailed-spacer-top {
  height: var(--aboutTopSpacer);
}
.detailed-spacer-bottom {
  height: var(--aboutBottomSpacer);
}
.detailed-middle-border {
  border-left: 2px var(--primaryDark) dashed;
  /* height: 50%; */
  flex: 1;
}

.detailed-about-right {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}
.about-content-left,
.about-content-right,
.about-content-right-top {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.about-content-third {
  flex: 1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 0;
  position: relative;
}
.about-content-right-top {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
}
.detailed-right-top {
  height: var(--aboutTopSpacer);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.detailed-right-middle {
  /* background-color: green; */
  flex: 1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px var(--primaryDark) dashed;
  align-items: flex-end;
  /* set this to variable to decide spacing-height */
}

.detailed-optional-third {
  /* background-color: red; */
  /* height: 100%; */
  /* max-height: 100%; */
  /* flex: 1; */
  /* flex: 1; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  /* border: green solid 5px; */
}

.optional-third-top {
  height: var(--aboutTopSpacer);
}

.optional-third-middle-content {
  /* flex: 1; */
  /* max-height: 100%; */
  /* width: 100%; */
  flex-shrink: 2;
  border-left: 2px var(--primaryDark) dashed;
  border-top: 2px var(--primaryDark) dashed;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.optional-third-bot {
  height: var(--aboutBottomSpacer);
}

.content-third-spacer {
  height: 22%;
}

.detailed-right-bottom {
  /* background-color: purple; */
  height: var(--aboutBottomSpacer);
  box-sizing: border-box;
  /* border-top: 2px var(--primaryDark) dashed; */
}

.detailed-rightside-container {
  grid-area: detailedIcons;
  display: grid;
  grid-template-columns: 1fr 0;
  grid-template-areas: "iconContainer .";
  height: 100%;
  position: relative;
  overflow: hidden;
}

.icons-parent-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-items: stretch; */
  overflow: hidden;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.icon-spacer-top {
  flex: 1;
  width: 100%;
  /* background-color: orange; */
}

.icon-container {
  /* position: absolute;
  bottom: 5%; */
  border-radius: 50%;
  height: 30%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px var(--primaryDark) dashed;
  position: relative;
  /* overflow: hidden; */

  /* border-left: 2px var(--primaryDark) dashed; */
  /* border-bottom: 2px var(--primaryDark) dashed; */
}

.icon-spacer-bottom {
  height: 27%;
  /* background-color: grey; */
}

.icon-container::after {
  content: "";
  position: absolute;
  height: 107%;
  width: 107%;
  /* background-color: red; */
  border-radius: 50%;
  /* border: 2px var(--primaryDark) dashed; */
  border-left: 3px var(--primaryDark) dashed;
  /* border-top: 2px var(--primaryDark) dashed; */
}

/* .detailed-about-container {

} */

/* .about-expansion-container {
  width: 100%;
  height: 100%;
  grid-area: expansion;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "expMiddle expRight";
}

.about-expansion-middle {
  display: grid;
  grid-template-rows: 1fr 2fr;
  max-height: 100%;
  overflow: hidden;
}

.about-expansion-upper-middle {
  border-bottom: 2px var(--primaryDark) dashed;
  width: 100%;
  max-height: 100%;
}

.about-expansion-lower-middle {
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.about-expansion-right {
  grid-area: expRight;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "topboy blank"
    "emblematic blank"
    "emblematic blank";
  position: relative;
  overflow: hidden;
} */

.empty-space {
  grid-area: topboy;
}

.about-expansion-upper-right {
  grid-area: emblematic;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

/* .about-expansion-upper-right::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 56%;
  top: 10%;
  z-index: 1;
  border: 2px var(--primaryBlack) solid;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
}

.about-expansion-upper-right::before {
  content: '';
  position: absolute;
  width: 69%;
  height: 56%;
  top: 10%;

  z-index: 2;
  border: 2px var(--primaryBlack) solid;

  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
} */

.emblem-outer-ww-container,
.emblem-outer-bench-container,
.emblem-outer-keeys-container {
  width: 100%;
  /* height: 25%; */
  max-width: 200px;
  border-radius: 50% 50% 90% 0%;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px var(--primaryDark) solid;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.emblem-inner-ww-container,
.emblem-inner-bench-container,
.emblem-inner-keeys-container {
  border: 2px var(--primaryDark) solid;
  height: 100%;
  width: 100%;
  border-radius: 50% 50% 90% 0%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emblem-inner-bench-container,
.emblem-outer-bench-container {
  border-radius: 0% 80% 0% 50%;
  border-top: none;
  border-right: none;
}

.emblem-outer-keeys-container,
.emblem-inner-keeys-container {
  border-radius: 90% 0 40% 40%;
  border-top: none;
  border-left: none;
}

.woodworking-svg,
.keyz-svg,
.benchy-svg {
  height: 80%;
  width: 80%;
  position: relative;
}

.about-left-container {
  width: 100%;
  height: 100%;
  grid-area: meStuff;
  overflow: hidden;
  display: grid;
  grid-template-columns: .12fr .44fr .44fr;
  /* background: purple; */
}

.about-left-container[data-goOn="true"] {
  grid-template-columns: 0 1fr 0;
}

/* .about-left-left {
 
} */

.about-left-dashes {
  grid-area: problemSolver;
  height: 90%;
  align-self: end;
  justify-self: start;
  /* border-left: 2px var(--primaryBlack) dashed; */
  box-sizing: content-box;
  z-index: 1;
}

.about-middle-container {
  height: 100%;
  /* border: 2px solid yellow; */
  box-sizing: border-box;
  grid-area: problemSolver;
  display: grid;
  grid-template-rows: 4fr 5fr 3fr;
  overflow: hidden;
}

.about-right-container {
  display: grid;
  height: 100%;
  grid-template-rows: 4fr 5fr 3fr;
  grid-area: rightSide;
  /* border: red dotted; */
  box-sizing: border-box;
  overflow: hidden;
  /* background: green; */
}

/* .about-right-container[data-goOn="true"] {
} */

.tilted-container {
  grid-area: rightSide;
  transform-origin: 0% 33%;
  height: 150%;
  width: 100%;
  position: relative;
  /* rotate: -35deg; */

  /* rotate: 45deg; */
  /* border: orange 10px dotted; */
  /* position: absolute; */
  /* padding: 200px; */
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "blank" "textSpace";
}

.tilted-container[data-goOn="true"] {
  rotate: 0deg;
}

.tilted-container-dash {
  position: absolute;
  border-left: 2px black dashed;
  height: 0;
  bottom: 0;
}

#tilted-text {
  rotate: 35deg;
  grid-area: textSpace;
}

.about-left-right {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

/* .about-left-right[data-goOn="true"] {

} */

.about-left-middle {
  display: grid;
  height: 100%;
  /* width: 100%; */
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "emptyHeadSpace"
    "circlesArea";
  /* overflow: hidden; */
  position: relative;
}

.about-left-middle[data-goOn="true"] {
  grid-template-rows: 0.5fr 5fr 0.5fr;
}
/* .about-circles-container {
  grid-area: circlesArea;
  display: grid;
  height: 100%;
  grid-template-rows: 4fr 2.5fr 1.5fr 0.7fr 0.5fr;
  grid-template-areas:
    "profPic"
    "circleOne"
    "circleTwo"
    "circleThree";
  align-items: start;
  position: relative;
  overflow: hidden;
} 

.photo-container {
  grid-area: profPic;
  position: relative;
  height: 90%;
  align-self: center;
  justify-self: center;
  aspect-ratio: 1/1;
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.photo-container-dashes {
  position: absolute;
  border-right: 2px black dashed;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.photo-shaper {
  color: var(--primaryLight);
  border-radius: 50%;
  background-color: var(--primaryBlack);
  height: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photo-border-reveal {
  position: absolute;
  border: 5px var(--primaryLight) solid;
  z-index: 3;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  opacity: 0;
}

.fresh-foto {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(90px);
}

.circle-design {
  border-radius: 50%;
  background-color: black;
  aspect-ratio: 1/1;
  position: absolute;
  height: 80%;
  height: 100%;
  justify-self: center;
  opacity: 1;
}

#circle-one {
  height: 24%;
  top: 10%;
}

#circle-one[data-animMe="true"],
#circle-two[data-animMe="true"],
#circle-three[data-animMe="true"] {
  position: relative;
  height: 80%;
  top: 0;
  align-self: center;
}

#circle-two {
  height: 16%;
  top: 10%;
}

#circle-three {
  height: 8%;
  top: 10%;
}*/

.about-circles-container {
  grid-area: circlesArea;
  height: 100%;
  align-items: start;
  position: flex;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  gap: 3%;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px black solid; */
  box-sizing: border-box;
}

.photo-container {
  position: relative;
  /* height: 34%; */
  /* align-self: center;
  justify-self: center; */
  aspect-ratio: 1/1;
  box-sizing: border-box;
  padding: 2%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 3%;
}

.photo-container-dashes {
  position: absolute;
  border-right: 2px black dashed;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.photo-shaper {
  color: var(--primaryLight);
  border-radius: 50%;
  background-color: var(--primaryBlack);
  height: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photo-border-reveal {
  position: absolute;
  border: 5px var(--primaryLight) solid;
  z-index: 3;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  opacity: 0;
}

.fresh-foto {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(90px);
}

.circle-design {
  border-radius: 50%;
  /* background-color: black; */
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  /* height: 80%; */
  /* height: 100%; */
  /* justify-self: center; */
  opacity: 1;
  margin-bottom: 2%;
  padding: 2%;
  box-sizing: border-box;
}

.black-nav-circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--primaryBlack);
}

#selected {
  height: 34%;
  /* flex: 2; */
  border-right: 2px dashed var(--primaryDark);
}

#one-off {
  position: absolute;
  top: 10%;
  /* height: 24%; */
  justify-self: center;
  flex: 3;
  /* top: 10%; */
}

#two-off {
  /* height: 16%; */
  position: absolute;
  top: 10%;
  flex: 2;
  overflow: hidden;
}

#three-off {
  position: absolute;
  top: 10%;
  /* height: 8%; */
  flex: 1;
  overflow: hidden;
  /* top: 10%; */
}

#one-off[data-animMe="true"],
#two-off[data-animMe="true"],
#three-off[data-animMe="true"] {
  position: relative;
  top: 0;
  align-self: center;
}

.circle-text {
  color: var(--primaryWhite);
  font-size: 20px;
  font-weight: 900;
}

.about-left-right-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  /* border-bottom: 2px var(--primaryDark) dashed; */
  box-sizing: border-box;
  border-top: none;
  position: relative;
}

.my-name-is {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 2px;
}

.about-left-right-top-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  /* border-right: 2px var(--primaryDark) dashed; */
  box-sizing: border-box;
  position: absolute;
  /* display: none; */
  height: 0%;
  width: 0%;
  /* margin-left: auto; */
  /* display: none; */
  /* background-color: red; */
  /* align-self: flex-start; */
}

.about-left-right-top-dashes::after {
  content: "";
  border-right: 2px var(--primaryDark) dashed;
  /* border-right: 2px var(--primaryDark) dashed; */
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  /* display: none; */
}

.about-left-right-bottom {
  height: 100%;
  display: grid;
  grid-template-rows: 5fr 3fr;
  /* border: 2px green solid; */
}

.about-left-right-bottom-top {
  /* border-bottom: 2px var(--primaryDark) dashed; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* right: -8%; */
  /* background: red; */
}

.about-left-right-bottom-top-dashes {
  /* border-bottom: 2px var(--primaryDark) dashed; */
  border-right: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
  /* display: none; */
}

.about-left-right-bottom-top-dashes::after {
  /* border-bottom: 2px var(--primaryDark) dashed; */
  content: "";
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* display: none; */
}

.about-left-right-bottom-bottom-dashes {
  width: 100%;
  border-right: 2px var(--primaryDark) dashed;
  box-sizing: border-box;
  height: 0;
}

.go-button {
  width: 7rem;
  height: 2rem;
  background-color: var(--primaryShade);
  color: var(--primaryWhite);
  border: none;
  position: absolute;
  bottom: 15px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
}

.go-arrow {
  position: relative;
  width: 50%;
  max-width: 30px;
  height: auto;
}

.intro-top-container {
  /* border-bottom: 2px dashed var(--primaryDark); */
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* background: green; */
  /* display: flex;?*/
  /* box-sizing: border-box; */
}

.about-middle-top-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 0;
  /* display: none; */
}

.intro-mid-container {
  /* font-size: 16px; */
  /* border-bottom: 2px dashed var(--primaryDark); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* border: green solid; */
  position: relative;
  overflow: hidden;
}

.problem-solving {
  opacity: 0;
  /* background: green; */
  width: 350px;
}

.blue-bg-highlight {
  /* background-color: var(--primaryLight); */
  position: relative;
}

.blue-bg-highlight::before {
  content: "";
  position: absolute;
  background-color: var(--primaryLight);
  opacity: 0.4;
  width: 70%;
  right: -5%;
  height: 100%;
  z-index: -3;
  /* display: flex; */
  height: 20%;
  top: 40%;
}

.blue-bg-highlight-two {
  position: relative;
}

.blue-bg-highlight-two::before {
  content: "";
  position: absolute;
  background-color: var(--primaryLight);
  opacity: 0.4;
  /* rotate: -4deg; */
  width: 70%;
  left: -5%;
  z-index: -3;
  /* display: flex; */
  height: 90%;
  top: 10%;
}

.about-middle-middle-dash-container {
  width: 100%;
  /* background: red; */
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.about-middle-middle-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
}

.intro-bottom-container {
  /* border-top: 3px dashed var(--primaryDark); */
  display: flex;
  align-items: center;
  position: relative;
}

.about-right-middle,
.about-right-bottom {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
}

.about-right-middle-left {
  /* border-bottom: 2px var(--primaryDark) dashed; */
  left: 2%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /* background-color: green; */
}

.about-right-middle-left-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 0;
  /* background-color: red; */
  /* display: none; */
}

.about-right-top {
  /* border: green solid; */
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}

.about-right-top-left {
  /* border: red dashed;
  background: red; */
  left: 2%;
  position: relative;
  box-sizing: border-box;
  /* border-bottom: 2px var(--primaryDark) dashed; */
}

.about-right-top-left-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 0;
  /* display: none; */
}

.about-right-middle-middle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* border: green solid; */
  box-sizing: border-box;
}
.skyline-svg-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  min-width: 200px;
  width: 100%;
  height: 100%;
  /* border: red solid; */
}



.skyline-svg {
  position: relative;
  /* border: green solid; */
  min-width: 100%;
  height: auto;
}

.skyline-svg-bg {
  position: absolute;
  min-width: 100%;
  left: 5px;
  bottom: 4px;
  z-index: -1;
  opacity: 0;
}

/* .about-right-bottom {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */

.about-right-bottom-middle {
  display: flex;
  justify-content: center;
  /* background-color: gold; */
  width: 100%;
}

.livin-in-the-city {
  /* background-color: blue; */
  text-align: center;
  opacity: 0;
  filter: blur(10px);
}

p {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* .about-content-container {
  height: calc(100% - 1rem);
  display: grid;
  flex-direction: column;
  grid-template-rows: auto 1fr;
  position: relative;
  align-content: start;
  align-items: start;
  margin-top: 1rem;
  justify-items: center;
  width: 700px;
  color: var(--primaryLight);
  font-weight: 700;
} */

.skyline-svg {
  /* height: 200px; */
  /* width: 200px; */
  width: 300px;
  height: auto;
}

.large-about-container {
  position: absolute;
  height: 100%;
  overflow: hidden;
}
/* 
#circle-one {
  justify-self: center;
  grid-area: circleOne;
} */

/* #circle-one::before,
#circle-two::before,
#circle-three::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--primaryLight);
  border-radius: 50%;
  z-index: -1;
  left: -10px;
  bottom: -5px;
} */

/* #circle-two {
  grid-area: circleTwo;
} */

/* #circle-three {
  grid-area: circleThree;
} */

/* .about-left-middle[data-goOn="true"] {
  grid-template-areas:
    "emptyHeadSpace"
    "circlesArea"
    "newNess";
  grid-template-rows: auto 2fr 3fr;
  max-height: 100%;
} */



@media (width < 1200px) {
  .about-container {
    grid-template-columns: 1fr 2fr;
  }
  .flex-show {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width < 1000px) {
  .about-container {
    display: none;
  }

}
/* @media (width < 1080px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-template-areas: "meStuff"
    "flexMagicShow";
  }
  .flex-show {
    grid-template-columns: 0fr 1fr;
  }
  .tilted-container-dash {
    opacity: 0;
  }
  .about-left-right-bottom-top-dashes {
    max-width: 0;
    max-height: 50%;
  }
} */