.about-detailed-nav {
  position: absolute;
  width: 80%;
  height: auto;
  /* background-color: red; */
  justify-self: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.left-abt-arrow,
.right-abt-arrow {
  position: relative;
  border: none;
  background: none;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-detailed-nav img {
  position: relative;
  height: 20px;
  width: 30px;
}

#left-arrow-img {
  rotate: 180deg;
}

.top-nav-about-headings {
  width: 100%;
  /* background-color: orange; */
  display: flex;
}

.about-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* background-color: green; */
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.about-nav-item {
  font-size: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  font-weight: normal;
}

.selected-nav {
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: underline;
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-nav-item:hover {
  background: var(--primaryLightShade);
}

