:root {
  --svgColor: var(--primaryDark);
  --svgStrokeW: 3px;
  --svgStrokeWTwo: 10px;
  --aboutTopSpacer: 23%;
  --aboutBottomSpacer: 20%;
}

.about-container {
  font-family: CourierPrime;
  font-size: 1.25rem; 
  display: grid;
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "meStuff flexMagicShow";
  max-width: 1600px;
  max-height: 650px;
}

.about-container[data-goOn="true"] {
  grid-template-columns: 1fr 5fr;
  height: 100%;
  max-width: 1200px;
}

.flex-show-n-tell {
  grid-area: flexMagicShow;
  display: flex;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.flex-show,
.flex-tell {
  overflow: hidden;
}

.flex-show {
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  grid-template-columns: 4fr 3fr;
  grid-template-areas: "problemSolver rightSide";
}

.flex-cape {
  position: relative;
  left: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.flex-tell {
  flex: 0;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "detailedAbout detailedIcons";
  overflow: hidden;
}

.detailed-about-container {
  grid-area: detailedAbout;
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.detailed-about-left {
  height: 100%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.detailed-left-top {
  overflow: hidden;
}

.detailed-left-middle {
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 2px var(--primaryDark) dashed;
}

.detailed-left-bottom {
  height: var(--aboutBottomSpacer);
  width: 100%;
  overflow: hidden;
}

.detailed-about-middle {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  width: 2px;
}

.detailed-spacer-top {
  height: var(--aboutTopSpacer);
}
.detailed-spacer-bottom {
  height: var(--aboutBottomSpacer);
}
.detailed-middle-border {
  border-left: 2px var(--primaryDark) dashed;
  flex: 1;
}

.detailed-about-right {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}
.about-content-left,
.about-content-right,
.about-content-right-top {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.about-content-third {
  flex: 1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 0;
  position: relative;
}
.about-content-right-top {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
}
.detailed-right-top {
  height: var(--aboutTopSpacer);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.detailed-right-middle {
  flex: 1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px var(--primaryDark) dashed;
  align-items: flex-end;
}

.detailed-optional-third {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
}

.optional-third-top {
  height: var(--aboutTopSpacer);
}

.optional-third-middle-content {
  flex-shrink: 2;
  border-left: 2px var(--primaryDark) dashed;
  border-top: 2px var(--primaryDark) dashed;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.optional-third-bot {
  height: var(--aboutBottomSpacer);
}

.content-third-spacer {
  height: 22%;
}

.content-second-spacer {
  height: 32%;
}

.detailed-right-bottom {
  height: var(--aboutBottomSpacer);
  box-sizing: border-box;
}

.detailed-rightside-container {
  grid-area: detailedIcons;
  display: grid;
  grid-template-columns: 1fr 0;
  grid-template-areas: "iconContainer .";
  height: 100%;
  position: relative;
  overflow: hidden;
}

.icons-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.icon-spacer-top {
  flex: 1;
  width: 100%;
}

.icon-container {
  border-radius: 50%;
  height: 24%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px var(--primaryDark) dashed;
  position: relative;

}

.icon-spacer-bottom {
  height: 27%;
}

.icon-container::after {
  content: "";
  position: absolute;
  height: 107%;
  width: 107%;
  border-radius: 50%;
  border-left: 3px var(--primaryDark) dashed;
}



.empty-space {
  grid-area: topboy;
}

.about-expansion-upper-right {
  grid-area: emblematic;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}


.emblem-outer-ww-container,
.emblem-outer-bench-container,
.emblem-outer-keeys-container {
  width: 100%;
  max-width: 200px;
  border-radius: 50% 50% 90% 0%;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px var(--primaryDark) solid;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.emblem-inner-ww-container,
.emblem-inner-bench-container,
.emblem-inner-keeys-container {
  border: 2px var(--primaryDark) solid;
  height: 100%;
  width: 100%;
  border-radius: 50% 50% 90% 0%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emblem-inner-bench-container,
.emblem-outer-bench-container {
  border-radius: 0% 80% 0% 50%;
  border-top: none;
  border-right: none;
}

.emblem-outer-keeys-container,
.emblem-inner-keeys-container {
  border-radius: 90% 0 40% 40%;
  border-top: none;
  border-left: none;
}

.woodworking-svg,
.keyz-svg,
.benchy-svg {
  height: 80%;
  width: 80%;
  position: relative;
}

.about-left-container {
  width: 100%;
  height: 100%;
  grid-area: meStuff;
  display: grid;
  grid-template-columns: .12fr .44fr .44fr;
}

.about-left-container[data-goOn="true"] {
  grid-template-columns: 0 1fr 0;
}


.about-left-dashes {
  grid-area: problemSolver;
  height: 90%;
  align-self: end;
  justify-self: start;
  box-sizing: content-box;
  z-index: 1;
}

.about-middle-container {
  height: 100%;
  box-sizing: border-box;
  grid-area: problemSolver;
  display: grid;
  grid-template-rows: 4fr 5fr 3fr;
  overflow: hidden;
}

.about-right-container {
  display: grid;
  height: 100%;
  grid-template-rows: 4fr 5fr 3fr;
  grid-area: rightSide;
  box-sizing: border-box;
  overflow: hidden;
}


.tilted-container {
  grid-area: rightSide;
  transform-origin: 0% 33%;
  height: 150%;
  width: 100%;
  position: relative;

  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "blank" "textSpace";
}

.tilted-container[data-goOn="true"] {
  rotate: 0deg;
}

.tilted-container-dash {
  position: absolute;
  border-left: 2px black dashed;
  height: 0;
  bottom: 0;
}

#tilted-text {
  rotate: 35deg;
  grid-area: textSpace;
}

.about-left-right {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}


.about-left-middle {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "emptyHeadSpace"
    "circlesArea";
  position: relative;
}

.about-left-middle[data-goOn="true"] {
  grid-template-rows: 0.5fr 5fr 0.5fr;
}

.about-circles-container {
  grid-area: circlesArea;
  height: 100%;
  align-items: start;
  position: flex;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  gap: 3%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.photo-container {
  position: relative;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  padding: 2%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 3%;
}

.photo-container-dashes {
  position: absolute;
  border-right: 2px black dashed;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.photo-container-dashes[data-goOn="true"] {
  display: none;
}

.photo-shaper {
  color: var(--primaryLight);
  border-radius: 50%;
  background-color: var(--primaryBlack);
  height: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photo-border-reveal {
  position: absolute;
  border: 5px var(--primaryLight) solid;
  z-index: 3;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  opacity: 0;
}

.fresh-foto {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(90px);
}

.circle-design {
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  opacity: 1;
  margin-bottom: 2%;
  padding: 2%;
  box-sizing: border-box;
}

.black-nav-circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--primaryBlack);
}

#selected {
  height: 34%;
  
}

#selected[data-animMe="true"] {
  border-right: 2px dashed var(--primaryDark);
}

#one-off {
  position: absolute;
  top: 10%;
  justify-self: center;
  flex: 3;
}

#two-off {
  position: absolute;
  top: 10%;
  flex: 2;
  overflow: hidden;
}

#three-off {
  position: absolute;
  top: 10%;
  flex: 1;
  overflow: hidden;
}

#one-off[data-animMe="true"],
#two-off[data-animMe="true"],
#three-off[data-animMe="true"] {
  position: relative;
  top: 0;
  align-self: center;
}

.circle-text {
  color: var(--primaryWhite);
  font-size: 2vw;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.about-left-right-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  border-top: none;
  position: relative;
}

.my-name-is {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 2px;
}

.about-left-right-top-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  box-sizing: border-box;
  position: absolute;
  height: 0%;
  width: 0%;
}

.about-left-right-top-dashes::after {
  content: "";
  border-right: 2px var(--primaryDark) dashed;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
}

.about-left-right-bottom {
  height: 100%;
  display: grid;
  grid-template-rows: 5fr 3fr;
}

.about-left-right-bottom-top {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.about-left-right-bottom-top-dashes {
  border-right: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
}

.about-left-right-bottom-top-dashes::after {
  content: "";
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.about-left-right-bottom-bottom-dashes {
  width: 100%;
  border-right: 2px var(--primaryDark) dashed;
  box-sizing: border-box;
  height: 0;
}

.go-button {
  width: 7rem;
  height: 2rem;
  background-color: var(--primaryShade);
  color: var(--primaryWhite);
  border: none;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
}

.go-arrow {
  position: relative;
  width: 50%;
  max-width: 30px;
  height: auto;
}

.intro-top-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-middle-top-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 0;
}

.intro-mid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.problem-solving {
  opacity: 0;
  width: 350px;
}

.blue-bg-highlight {
  position: relative;
}

.blue-bg-highlight::before {
  content: "";
  position: absolute;
  background-color: var(--primaryLight);
  opacity: 0.4;
  width: 70%;
  right: -5%;
  height: 100%;
  z-index: -3;
  height: 20%;
  top: 40%;
}

.blue-bg-highlight-two {
  position: relative;
}

.blue-bg-highlight-two::before {
  content: "";
  position: absolute;
  background-color: var(--primaryLight);
  opacity: 0.4;
  width: 70%;
  left: -5%;
  z-index: -3;
  height: 40%;
  top: 30%;
}

.about-middle-middle-dash-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.about-middle-middle-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
}

.intro-bottom-container {
  display: flex;
  align-items: center;
  position: relative;
}

.about-right-middle,
.about-right-bottom {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
}

.about-right-middle-left {
  left: 2%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.about-right-middle-left-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 0;
}

.about-right-top {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}

.about-right-top-left {
  left: 2%;
  position: relative;
  box-sizing: border-box;
}

.about-right-top-left-dashes {
  border-bottom: 2px var(--primaryDark) dashed;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 0;
}

.about-right-middle-middle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}
.skyline-svg-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  min-width: 200px;
  width: 100%;
  height: 100%;
}



.skyline-svg {
  position: relative;
  min-width: 100%;
  height: auto;
}

.skyline-svg-bg {
  position: absolute;
  min-width: 100%;
  left: 5px;
  bottom: 4px;
  z-index: -1;
  opacity: 0;
}


.about-right-bottom-middle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.livin-in-the-city {
  text-align: center;
  opacity: 0;
  filter: blur(10px);
}

p {
  text-align: center;
  margin: 0;
  padding: 0;
}


.skyline-svg {
  width: 300px;
  height: auto;
}

.large-about-container {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
}





::-webkit-scrollbar {
  width: 10px;
  padding-right: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  border: 1px var(--primaryShade) dotted;
  border-top: 3px var(--primaryShade) solid;
  border-bottom: 3px var(--primaryShade) solid;
  border-radius: 5px;
  

}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryLightShade);
}

@media (width < 1200px) {
  .about-container {
    grid-template-columns: 1fr 2fr;
  }
  .flex-show {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width < 1000px) {
  .about-container {
    display: none;
  }

}
