/* css variables */

:root {
  /* color palette original */
  /* --primaryDark: #323366;
  --primaryLight: #7f98ff;
  --primaryLightAccent: #ffcc7f; */
  /* option two */
  /* --primaryDark: #8E9EAA;
  --primaryLight: #80C8FF;
  --primaryLightAccent: #FFCC80; */

  /* BLUE COLOR PALETTE  */

  /* ORIGINAL-BLUE-    #087CC9 #005A96  #003C63 */
  /* #1E6696 #5199C9 #003C63 #97D4FC #CCEBFF  */
  /* #144463 #65C0FC #005A96 #99D6FF #CCEBFF */
  /* SLIGHTLY LESS MONOCHROMATIC MORE DEPTH LESS APPEALING */
  /* #246996 #2C4D63 #087CC9 #212C33 #2B3033  */

  --primaryDark: #172733;
  --primaryLight: #87aba7;
  --primaryLightAccent: #ab87a9;
  --optOne: #384d48;
  /* colors for green and purple  */

  --opt1v2: #e1bc29;
  --opt2: #eaba6b;
  --opt2v2: #386c0b;
  --opt3: #25283d;
  --opt3v2: #f7ef81;
  --opt3v3: #a22522;
  --opt4: #114b5f;
  --opt4v2: #6b2737;
  --opt4v3: #d64933;
  --opt5: #495159;

  --primaryBlack: black;
  --primaryWhite: white;
  --primaryShade: rgba(0, 0, 0, 0.577);
  --primaryLightShade: rgba(0, 0, 0, 0.2);
  /* DARK COLOR PALETTE */
  --darkLBlue: #5199c9;
  --darkMBlue: #1e6696;
  --darkDBlue: #003c63;
  --compColor: var(--primaryDark);
  --mannyColor: var(--primaryDark);
  --cubeColor: var(--primaryWhite);
  --svgBgDark: var(--primaryDark);
  --svgBgLight: var(--primaryLight);
  --svgBgAccent: var(--primaryLightAccent);
  --mannyStrokeW: 2px;
  --compStrokeW: 2px;
}

ul {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: tiltNeon;
}

#root {
  height: 100%;
  display: flex;
  border: black solid 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.page-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-rows: 3fr 1fr;
  height: auto;
  margin: 0;
  padding: 0;
}

.toggle-container {
  width: 80px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 20px;
  background-color: lightgray;
  box-shadow: inset 2px -2px 4px 1px rgb(99, 99, 99),
    inset -3px 5px 5px 0px white;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  z-index: 1000;
  padding: 0 2px;
}

.toggle-container[data-themeStyle="true"] {
  justify-content: flex-end;
}

.toggle {
  /* position: relative; */
  /* border: green 2px solid; */
  height: 25px;
  width: 25px;
  background-color: gray;
  box-shadow: inset 0 0 10px rgb(95, 95, 95);
  /* align-self: center; */
  border-radius: 50%;
  margin: 2px;
}

.ground {
  position: relative;
  display: flex;
  justify-content: center;
}

.ground {
  /* position: relative; */
  display: flex;
  justify-content: center;
}

.ground-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#light .ground {
  background: white;
}

#dark .ground {
  background: radial-gradient(black, black);
}

/* .glass-reflection covers ground */
.glass-reflection {
  height: 100%;
  width: 100%;
  background: linear-gradient(black 20%, white 200%);
  /* border: red solid 3px; */
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
  position: absolute;
  opacity: 50%;
  overflow: hidden;
}

.reflection-blend {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    60% 80% at 50% 5%,
    transparent 25%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.4) 85%,
    black 170%
  );
  /* background: red; */
  opacity: 100%;
}

.glass-reflection-two {
  position: absolute;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    transparent 20%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(0, 0, 0, 1) 65%
  );
  opacity: 100%;
}

.ground-texture {
  position: absolute;
  height: 100%;
  width: 100%;
}

#light .ground-color {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at 50% 30%, transparent 20%, black 200%);
  opacity: 0.5;
}

#light .ground-texture {
  box-shadow: inset 0 2px 10px rgba(128, 128, 128, 0.5);
  background-image: url("../assets/transtextures/scribble-light.png");
  opacity: 0.5;
}

#dark .ground-texture {
  /* border: 2px solid green; */
  background-image: url("../assets/transtextures/asfalt-light.png");
  opacity: 0.4;
  box-shadow: inset 0 15px 15px black;
}

.nav-sidebar-container {
  position: absolute;
  justify-self: flex-start;
  align-self: flex-start;
  background-color: transparent;
  z-index: 3;
  width: 150px;
  height: calc(100% - 30px);
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-content: stretch;
  align-items: stretch;
  /* background-color: black; */
}

.nav-container {
  /* background-color: black; */
  border-right: 2px var(--primaryDark) solid;
  padding: 1rem;
  display: grid;
  align-content: center;
  justify-items: stretch;
  /* display: none; */
}
.nav-sidebar-link {
  color: var(--primaryBlack);
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding: .5rem;
  /* border: green solid; */
  display: flex;
  justify-content: center;
  width: 80%;
}

.nav-sidebar-link:last-child {
  border-bottom: none;
}

.link-text {
  color: var(--primaryDark);
  text-align: center;
  width: 100%;
  /* border: orange solid; */
}

.content-container {
  /* border: 2px purple solid; */
  box-sizing: border-box;

  /* <-----IMPORTANT IF YOU DON'T WANT CONTENT OVERFLOWING OVER HEADER TEXT AND TOP NAVIGATION , leave commented out otherwise------> */

  /* max-height: calc(100% - 5.4rem); */
  /* margin-top: 30px; */
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  height: 100%;
  /* background-color: red; */
}