

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: tiltNeon;
}

#root {
  height: 100%;
  display: flex;
  border: black solid 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.page-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-rows: 3fr 1fr;
  height: auto;
  margin: 0;
  padding: 0;
}

.sky {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark .sky {
  background: radial-gradient(at bottom, rgb(46, 46, 46), black);
  position: relative;
}

.nav-circles {
  display: flex;
  gap: 10px;
}

.nav-circle {
  border-radius: 50%;
  height: 200px;  
  width: 200px;
  /* backface-visibility: hidden; */
  perspective: 50px;
}

div#circleone {
  background-color: rgb(255, 215, 215);
}


#circletwo {
  background-color: rgb(182, 183, 255);
}

#circlethree {
  background-color: rgb(220, 182, 255);
}

.ground {
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.heading-container {
  position: absolute;
  /* border: 2px pink solid; */
  top: -3.5rem;
  display: grid;
  grid-template-areas: "place";
}

div.title-container {
  grid-area: place;
  z-index: 10;
}

div.reflection-container {
  grid-area: place;
  display: grid;
  height: 5rem;
  /* background-color: red; */
  /* transform: scaleY(1.5); */
  transform-origin: bottom;
  /* border: red solid 2px; */
  /* transform: perspective(100px) rotateX(20deg) scaleY(1.5) translateY(-3px); */
  /* transform-origin: top; */
  filter: blur(1px);
  /* overflow: hidden; */
}


h1.title-text,
h1.reflection-text {
  font-size: 7rem;
  margin: 0;
  padding: 0;
  font-weight:100;
  line-height: 5rem;
  /* text-shadow: 2px 40px 0px pink; */
}

h1.title-text {
  color: rgb(53, 53, 53);
}


h1.reflection-text {
  color: rgba(128, 128, 128, 0.774);
  font-size: 7rem;
  line-height: 5rem;
  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: bottom;
  /* background: radial-gradient(white 10%, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
