.education-container {
  max-height: 100%;
  /* background-color: green; */
  margin: 0;
  overflow: hidden;
  flex: 1;
  
  /* position: absolute; */
  /* overflow: auto; */
}

.education-container-web {
  max-height: 100%;
  /* background-color: green; */
  margin: 0;
  overflow: hidden;
  flex: 1;
  height: 100%;
  position: absolute;
  /* overflow: auto; */
}

.edu-detail-content,
.edu-detail {
  height: 100%;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  overflow: hidden;
}

.edu-detail-content {
  margin-top: 2px;

}


h3, h4, h5 {
  margin: 0;
}

h3.education-heading {
  font-size: 1.3rem;
  letter-spacing: 7px;
  margin: 10px;
  font-weight:  10000;
  /* background-color: black; */
  /* width: 100%; */
}

.college-title {
  margin-bottom: 5px;
}

.edu-detail-content h4 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 1.5;
}

.edu-detail-content h5 {
  font-size: .85rem;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: .7;
  /* font-style: italic; */
}

.college-accolade {
  font-size: .7rem;
  display: none;
}

.edu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.edu-list > li {
  margin: 0;
  padding: 0;
}

.edu-item-title {
  font-size: .9rem;
  line-height: .5;
}

.edu-item-source {
  font-size: .7rem;
  line-height: 2;
}

.edu-item-subtitle {
  display: none;
}

