.ground {
  position: relative;
  display: flex;
  justify-content: center;
}

.ground-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#light .ground {
  background: white;
}

#dark .ground {
  background: radial-gradient(black, black);
}

.heading-container {
  position: absolute;
  display: grid;
  grid-template-areas: "place";
  align-items: end;
  pointer-events: none;
}

div.reflection-container {
  grid-area: place;
  display: grid;
  position: relative;
  bottom: clamp(1rem, 5vw, 3.5rem);
  transform-origin: bottom;
  filter: blur(1px);
}

div.title-container,
div.title-texture-container {
  grid-area: place;
  z-index: 10;
}

h1.title-text,
h1.reflection-text,
h1.reflection-text-highlight,
h1.title-texture {
  font-size: clamp(3rem, 11vw, 7rem);
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: clamp(2rem, 8vw, 5rem);
}

h1.title-text {
  position: relative;
  bottom: clamp(1rem, 5vw, 3.5rem);
}

#light h1.title-text {
  text-shadow: none;
  color: black;
}

#light div.title-texture-container {
  background-image: url("../assets/transtextures/white-leather.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
  height: 100%;
  position: absolute;
  bottom: clamp(1rem, 5vw, 3.5rem);
}

#light h1.title-texture {
  color: transparent;
  opacity: 1;
}

#dark div.title-texture-container {
  opacity: 0;
}

#dark h1.title-text {
  color: rgb(224, 224, 224);
  text-shadow: 0 0 4px #ffffff, 0 0 10px #ffffffbb, 0 0 21px #ffffff9f,
    0 0 42px rgba(126, 135, 255, 0.7), 0 0 82px rgba(126, 203, 255, 0),
    0 0 92px rgba(126, 186, 255, 0.1), 0 0 102px rgba(126, 182, 255, 0),
    0 0 151px rgba(126, 208, 255, 0);
}

#light h1.reflection-text {
  color: rgba(128, 128, 128, 0.274);
  line-height: 5rem;
  line-height: clamp(2rem, 8vw, 5rem);

  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: bottom;
}

#dark h1.reflection-text {
  position: absolute;
  color: rgba(128, 128, 128, 0.774);
  line-height: 5.6rem;
  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: bottom;
  text-shadow: 0 0 4px #fff, 0 0 10px #ffffffbb, 0 0 21px #ffffff9f,
    0 0 42px rgb(255, 126, 203, 0.5), 0 0 82px rgb(255, 126, 203, 0.4),
    0 0 92px rgb(255, 126, 203, 0.3), 0 0 102px rgb(255, 126, 203, 0.2),
    0 0 151px rgba(255, 126, 203, 0.1);
  opacity: 70%;
}

#dark h1.reflection-text-highlight {
  position: absolute;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.774);
  font-size: 7rem;
  line-height: 5.6rem;
  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: bottom;
  background: linear-gradient(transparent, rgb(255, 212, 255));
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  filter: blur(2px);
}

.reflection-cover {
  position: absolute;
  justify-self: center;
  width: 125%;
  height: 115%;
  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: bottom;
  box-shadow: inset 0px 0px 50px 5px black, inset 0px -2px 10px -10px red,
    0 0px 40px 0px black;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.reflection-cover {
}

.glass-reflection {
  height: 100%;
  width: 100%;
  background: linear-gradient(black 20%, white 200%);
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
  position: absolute;
  opacity: 50%;
  overflow: hidden;
}

.reflection-blend {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    60% 80% at 50% 5%,
    transparent 25%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.4) 85%,
    black 170%
  );
  opacity: 100%;
}

.glass-reflection-two {
  position: absolute;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    transparent 20%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(0, 0, 0, 1) 65%
  );
  opacity: 100%;
}

.ground-texture {
  position: absolute;
  height: 100%;
  width: 100%;
}

#light .ground-color {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at 50% 30%, transparent 20%, black 200%);
  opacity: 0.5;
}

#light .ground-texture {
  box-shadow: inset 0 2px 10px rgba(128, 128, 128, 0.5);
  background-image: url("../assets/transtextures/scribble-light.png");
  opacity: 0.5;
}

#dark .ground-texture {
  background-image: url("../assets/transtextures/asfalt-light.png");
  opacity: 0.4;
  box-shadow: inset 0 15px 15px black;
}
