.smacc-container {
  /* border: 2px black solid; */
  margin-bottom: 1.5rem;
}

.group-title {
  margin-top: 5px;
  width: calc(100% - 18px);
  border-top: 2px solid var(--primaryBlack);
  border-bottom: 2px solid var(--primaryBlack);
  margin-left: 9px;
  margin-right: 9px;
  box-sizing: border-box;
  padding-top: 3px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.category-title {
  text-align: center;
  font-weight: 100;
  letter-spacing: 3px;
  text-decoration: underline;
  font-size: 1.2rem;
  margin-bottom: 5px;
}


.skill-list,
.interest-list,
.story-story,
.education-list {
  text-align: center;
  font-size: .9rem;  
  letter-spacing: -.5px;
  padding-left: 10px;
  padding-right: 10px;
}

.education-container {
  margin-bottom: .7rem;
}

.college-ec-title {
  display: none;
}

.text-block {
  text-align: left;
}

.degree-title,
.college-title {
  text-align: center;
  margin: 0;
}

.degree-title {
  font-weight: 100;
}


.education-list-item {
  margin-top: 5px;
  padding: 0;
}

.edu-item-title {
  margin: 3px;
}

.edu-item-subtitle {
  display: none;
}