/* 
  .home-nav-container {
  
    max-width: 1250px;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
  }
  
  #light #svg-comp-front > svg,
  #light #svg-manny-front > svg {
  --svgBgLight: transparent;
  --svgBgAccent: transparent;
  --compColor: var(--primaryDark);
  --mannyColor: var(--primaryDark);
  filter: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

  #dark svg {
  --svgBgLight: transparent;
  --svgBgAccent: transparent;
}

#dark #svg-comp-front > svg,
#dark #svg-manny-front > svg {
  --compColor: white;
  --mannyColor: white;
  opacity: 1;
}

#svg-comp-front > svg {
  --compColor: white;
  filter: drop-shadow(0 0 3px blue);
}
#svg-manny-front > svg {
  --mannyColor: white;
  filter: drop-shadow(0 0 3px blue);
}

#svg-comp-bg > svg,
#svg-manny-bg > svg {
  --compStrokeW: 6px;
  --compColor: blue;
  --mannyStrokeW: 5px;
  --mannyColor: blue;
  filter: drop-shadow(0 0 3px white);
  opacity: 0.5;
}

#svg-comp-bg-light > svg,
#svg-manny-bg-light > svg {
  --svgBgLight: var(--primaryLight);
  --svgBgAccent: var(--primaryLightAccent);
  --svgBgAccent: transparent;
  --svgBgLight: transparent;
  --compStrokeW: 10px;
  --compColor: var(--primaryLightShade);
  --mannyStrokeW: 10px;
  --mannyColor: var(--primaryLightShade);
}

#svg-comp-bg-light > svg {
  position: relative;
  left: -5px;
  top: -4px;
}

#svg-manny-bg-light > svg {
  position: relative;
  right: -4px;
  top: -3px; 
}

.home-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#comp-nav {
  justify-content: flex-start;
  position: relative;
}

#manny-nav {
  justify-content: flex-end;
}

.home-third {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 300px;
  height: 100%;
}

.svg-container {
  position: absolute;
  display: flex;
  justify-content: center;
  max-width: 300px;
  height: 100%;
  width: 100%;
}

#manny-svg {
  top: -50px;
  right: -15px;
}

#dark div#comp-svg {
  width: 300px;
  height: auto;
  top: -50px;
  left: -60px;
  opacity: 0.5;
}

#dark div#manny-svg {
  width: 200px;
  opacity: 0.5;
}

#comp-nav svg,
#manny-nav svg {
  stroke-width: 2px;
}

.nav-btn-container {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

#light .right-dashed {
  content: "";
  position: absolute;
  height: 80%;
  width: 40%;
  right: -20px;
  top: -20px;
  border-top: 2px black dashed;
  border-right: 2px black dashed;
}

#light .left-dashed {
  content: "";
  position: absolute;
  height: 50%;
  width: 20%;
  left: -20px;
  bottom: -20px;
  border-left: 2px black dashed;
  border-bottom: 2px black dashed;
}

.nav-btn {
  height: 40px;
  width: 200px;
  perspective: 50px;
  color: var(--primaryWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryShade);
}

#light .nav-btn {
  height: 40px;
  width: 200px;
  perspective: 50px;
  color: var(--primaryWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryShade);
}


#dark .nav-btn {
  box-shadow: 0 0px 3px 2px rgb(63, 63, 63);
}

#dark div#about-nav {
  background-color: rgb(0, 59, 99);
}

#dark div#portfolio-nav {
  background-color: rgb(0, 90, 150);
}

#dark div#connect-nav {
  background-color: rgb(8, 125, 202);
}


#dark::before {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  height: 5px;
  width: 70%;
  background: linear-gradient(to left, transparent, var(--darkMBlue) 20%, transparent);
  z-index: 1;
}

#dark::after {
  content: '';
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: linear-gradient(transparent, var(--darkMBlue) 20%, transparent);
}

#comp-nav {

  
}
#cube-nav {
}
#manny-nav {
}

@media (width < 1000px) {
  .home-nav-container {
    grid-template-columns: 1fr 1fr;
  }
  #manny-nav {
    display: none;
  }
  #comp-nav {
    justify-content: center;
  }
  #comp-nav::after {
    content: '';
    position: absolute;
    border-right: 2px dashed var(--primaryDark);
    height: 50%;
    align-self: center;
    right: 0;
    top: 25%;
    width: 100%;
  }
  .right-dashed,
  .left-dashed {
    opacity: 0;
  }
}

@media (width < 640px) {
  .home-nav-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "everythingAtOnce"
  }
  #comp-nav {
    grid-area: everythingAtOnce;
    position: absolute;
  }
  #cube-nav {
    grid-area: bottomMobButtons;
    grid-area: topMobSpacer;
    grid-area: everythingAtOnce;
    
  }
  .svg-container {
    position: absolute;
  }
  #comp-svg-itself {
    position: relative;
  }
  #comp-nav::after {
    opacity: 0;
  }

  .home-third {
    width: 100%;
  }

  .nav-btn-container {
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .nav-btn-container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    position: none;
    gap: 1px;
    height: 100%;
  }

  #portfolio-nav {
  }


  .nav-btn-div {
    flex: 1;
  }
 
  #light .nav-btn {
    height: 40px;
    width: 200px;
    color: var(--primaryWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryShade);
  
    width: 100%;
    height: 40px;
  }

  .svg-container::after {
    content: '';
    position: absolute;
    height: 10%;
    width: 20%;
    right: 0;
    top: 25%;
    border-right: 2px var(--primaryDark) dashed;
    border-top: 2px var(--primaryDark) dashed;
  }

  .svg-container::before {
    content: '';
    position: absolute;
    height: 10%;
    width: 30%;
    left: 0;
    bottom: 25%;
    border-left: 2px var(--primaryDark) dashed;
    border-bottom: 2px var(--primaryDark) dashed;
  }
} */
