/*
    VARIABLE REFERENCE 
--primaryDark: #172733;
--primaryLight: #87aba7;
--primaryLightAccent: #ab87a9;
--primaryBlack: black;
--primaryWhite: white;
--primaryShade: rgba(0, 0, 0, 0.577);
--compColor: var(--primaryDark);
--mannyColor: var(--primaryDark);
--cubeColor: var(--primaryWhite);
--svgBgDark: var(--primaryDark);
--svgBgLight: var(--primaryLight);
--svgBgAccent: var(--primaryLightAccent);
--mannyStrokeW: 2px;
--compStrokeW: 2px;

*/

/* ORIGINAL-BLUE    #087CC9 #005A96  #003C63 */
  /* BLUE COLOR PALETTE  */
  /* #1E6696 #5199C9 #003C63 #97D4FC #CCEBFF  */
  /* #144463 #65C0FC #005A96 #99D6FF #CCEBFF */
  /* SLIGHTLY LESS MONOCHROMATIC MORE DEPTH LESS APPEALING */
  /* #246996 #2C4D63 #087CC9 #212C33 #2B3033  */

  #light #svg-comp-front > svg,
  #light #svg-manny-front > svg {
  --svgBgLight: var(--primaryLight);
  --svgBgAccent: var(--primaryLightAccent);
  --compColor: var(--primaryDark);
  --mannyColor: var(--primaryDark);
  filter: none;
}

  #dark svg {
  --svgBgLight: transparent;
  --svgBgAccent: transparent;
}

#dark #svg-comp-front > svg,
#dark #svg-manny-front > svg {
  /* --compColor: rgb(255, 140, 159); */
  --compColor: white;
  /* --mannyColor: rgb(96, 181, 255); */
  --mannyColor: white;
  opacity: 1;
}

#svg-comp-front > svg {
  --compColor: white;
  filter: drop-shadow(0 0 3px blue);
}
#svg-manny-front > svg {
  --mannyColor: white;
  filter: drop-shadow(0 0 3px blue);
}

#svg-comp-bg > svg,
#svg-manny-bg > svg {
  --compStrokeW: 6px;
  --compColor: blue;
  --mannyStrokeW: 5px;
  --mannyColor: blue;
  filter: drop-shadow(0 0 3px white);
  opacity: 0.5;
  /* border: red solid 2px; */
}
.home-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px black solid; */
}

#comp-nav {
  justify-content: flex-start;
}

#manny-nav {
  justify-content: flex-end;
}

.home-third {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px pink solid; */
  z-index: 2;
  width: 300px;
  height: 100%;
}

.svg-container {
  position: absolute;
  /* align-self: center; */
  /* justify-self: center; */
  display: flex;
  /* border: 2px black solid; */
  max-width: 300px;
  height: 100%;
  width: 100%;
}

#manny-svg {
  top: -50px;
  right: -15px;
}

#dark div#comp-svg {
  width: 300px;
  height: auto;
  top: -50px;
  left: -60px;
  opacity: 0.5;
  /* stroke-width: 20px; */
  /* stroke: black; */
}

#dark div#manny-svg {
  width: 200px;
  opacity: 0.5;
}

#comp-nav svg,
#manny-nav svg {
  stroke-width: 2px;
}

.nav-btn-container {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  /* border: red solid 1px;   */
}

#light .right-dashed {
  content: "";
  position: absolute;
  height: 80%;
  width: 40%;
  right: -20px;
  top: -20px;
  border-top: 2px black dashed;
  border-right: 2px black dashed;
}

#light .left-dashed {
  content: "";
  position: absolute;
  height: 50%;
  width: 20%;
  left: -20px;
  bottom: -20px;
  border-left: 2px black dashed;
  border-bottom: 2px black dashed;
}

.nav-btn {
  height: 40px;
  width: 200px;
  /* backface-visibility: hidden; */
  perspective: 50px;
  /* position: absolute; */
  color: var(--primaryWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryShade);
}

#light .nav-btn {
  height: 40px;
  width: 200px;
  /* backface-visibility: hidden; */
  perspective: 50px;
  /* position: absolute; */
  color: var(--primaryWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryShade);
}

/* #light div#shapeone {
  background-color: var(--primaryLightAccent);
}

#light #shapetwo {
  background-color: var(--primaryDark);
}

#light #shapethree {
  background-color: var(--primaryLight);
} */

/* #dark .nav-btn {
  border: 2px solid rgb(117, 253, 117);
  color: rgb(117, 253, 117);
  background: transparent;
  box-shadow: 0 0 5px 0px white, 0 0 15px rgb(117, 253, 117, .5), inset 0 0 5px 0px white, inset 0 0 20px -5px rgb(117, 253, 117, .5), 0 0 50px rgba(255, 255, 255, 0.233), inset 0 0 20px rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 3px white;
} */
#dark .nav-btn {
  box-shadow: 0 0px 3px 2px rgb(63, 63, 63);
}

#dark div#about-nav {
  /* background-color: rgb(153, 87, 0); */
  background-color: rgb(0, 59, 99);
  /* background-image: url("../assets/transtextures/rocky-wall.png"); */
}

#dark div#portfolio-nav {
  background-color: rgb(0, 90, 150);
  /* background-color: rgb(71, 15, 15); */
  /* background-image: url("../assets/transtextures/rocky-wall.png"); */
}

#dark div#connect-nav {
  background-color: rgb(8, 125, 202);
  /* background-color: rgb(71, 15, 15); */
  /* background-image: url("../assets/transtextures/rocky-wall.png"); */
}


#dark::before {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  height: 5px;
  width: 70%;
  background: linear-gradient(to left, transparent, var(--darkMBlue) 20%, transparent);
  z-index: 1;
}

#dark::after {
  content: '';
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: linear-gradient(transparent, var(--darkMBlue) 20%, transparent);
}