#root {
  --color-cat1: var(--primaryLight);
  --color-cat2: var(--primaryLightAccent);
  --color-cat3: var(--primaryDark);
  --color-cat4: var(--optOne);
  --portfolio-width: 700px;
}


/* .about-page-container {
  display: flex;
  height: 100%;
  width: 100%;
  border: green 3px solid;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
} */

.portfolio-page-container {
  font-family: CourierPrime;
  height: calc(100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.portfolio-flex-container {
  display: grid; 
  justify-content: center;
  width: 90%;
  height: 100%;
  flex: 1;
  /* border: 2px pink solid; */
  max-width: 1200px;
  min-width: 300px;
  overflow: hidden;
  box-sizing: border-box;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: auto 1fr 2rem;
  grid-template-areas: "sectionHeading"
  "portContent"
  "portBotSpacer";
  align-items: center;
  justify-items: center;
  align-self: center;
  /* border: 2px orange solid; */
}

/* .portfolio-header {
  grid-area: portHeader;
  display: flex;
  width: 100%;
} */


.ph-left,
.ph-right {
  flex: 7;
}

.ph-mid {
  flex: 10;
  /* background: red; */
  /* height: 100%; */
  width: 100%;
}

.ph-svg-grandparent {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-right: 3px var(--primaryBlack) dashed;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph-svg-parent {
  aspect-ratio: 1/1;
  /* height: 100%; */
  width: 100%;
  border-radius: 50%;
  border-left: 3px var(--primaryBlack) dashed;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph-svg-container {
  aspect-ratio: 1/1;
  height: 100%;
  /* width: 100%; */
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px var(--primaryBlack) dashed;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}


.portfolio-item-container {
  position: relative;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  height: 90%;
  /* border: 2px pink solid; */
  width: 90%;
  overflow: hidden;
  grid-area: portContent;
}


.portfolio-item {
  flex: 1;
  overflow: hidden;
  display: flex;
}


.img-div-container {
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}



.blur-div {
  display: flex;
  flex: 1;
  /* opacity: 0; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* width: var(--portfolio-width); */
}

.img-div {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

.portfolio-img {
  /* position: absolute; */
  /* height: 100%; */
  width: 100%;
}




.project-info-container {
  /* opacity: 0; */
  transition: all .5s;
  /* position: absolute; */
  text-wrap: wrap;
  /* width: 100%; */
  /* overflow: hidden */
  /* max-width: 500px; */
  /* height: 70px; */
  border: var(--primaryLight) 2px solid;
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--primaryShade);
  overflow-y: scroll;
  flex: 1;
  
}

.project-info-container[data-isShown="true"] {
  /* height: 250px; */
  opacity: 1;
  filter: none;
  /* max-width: 500px; */
}

.project-title {
  overflow-wrap: normal;
  color: var(--primaryWhite);
  display: flex;
  max-width: 250px;
  justify-content: center;
}

.project-description,
.project-technology {
  color: var(--primaryWhite);
  font-weight: 0;
  font-size: .875rem;
  /* overflow: scroll; */
}

.project-technology {
  font-style: italic;
}

.blur-div:hover > .project-info-container {
  opacity: 1;
  transition: all .5s;
}

.portfolio-back-btn-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  margin: 5px;
  width: 50px;
  z-index: 7;
}

.portfolio-back-btn {
  height: 100%;
  width: 100%;
  position: relative;
  border: none;
  background: transparent;
}

.back-btn-aro {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  rotate: 180deg;
}

.project-title-collapsed-container {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 3;
  background: var(--primaryLightShade);
  color: var(--primaryWhite);
}

.project-title-collapsed {
  font-size: 1.2rem;
}

.key-legend-item {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.key-legend-item > div{
  margin-right: .5rem;
}

.coding-color,
.music-color,
.craft-color,
.video-color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.coding-color {
  background-color: var(--color-cat1);
}
.music-color {
  background-color: var(--color-cat2);
}

.craft-color {
  background-color: var(--color-cat4);
}

.video-color {
  background-color: var(--color-cat3);
}

.color-categorized {
  margin-bottom: 15px;
}
#craft {
  border-top: 11px solid var(--color-cat4);
}

#coding {
  border-top: 11px solid var(--color-cat1);
}

#music {
  border-top: 11px solid var(--color-cat2);
}

#video {
  border-top: 11px solid var(--color-cat3);
}

.color-cat-key {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 25px;
  justify-content: stretch;
  margin: 0;
  width: max-content;
  height: max-content;
  padding-bottom: 0;
  align-items: flex-start;
  border: 2px var(--primaryShade) dashed;
  padding: 5px;
  border-radius: 10px;
} 
 
#key-legend-title {
  font-size: 1rem;
  font-weight: 400;
  
  border-bottom: 2px var(--primaryShade) dashed;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* @media (width < 1000px) {
  .portfolio-item-container {
    flex-direction: column;
    max-height: 500px;
    max-width: 90vw;
  }
  .color-coded {
    display: none;
  }
  .img-div-container {
    padding: 0;
    margin: 0;
  }
  .color-cat-key {
    display: none;
  }
} */