#root {
  --primaryBlue: rgb(38, 37, 114);
  --primaryGray: rgb(102, 102, 102);
  --primaryYellow: rgb(212, 133, 133);
  --portfolio-width: 700px;
  --code-color: var(--primaryLight);
  --craft-color: var(--primaryLightAccent);
  --music-color: var(--primaryBlue);
  --video-color: var(--primaryYellow);
}

/* .about-page-container {
  display: flex;
  height: 100%;
  width: 100%;
  border: green 3px solid;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
} */

.portfolio-page-container {
  font-family: CourierPrime;
  height: calc(100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.portfolio-flex-container {
  display: grid;
  justify-content: center;
  width: 90%;
  height: 100%;
  flex: 1;
  /* border: 2px pink solid; */
  max-width: 1200px;
  min-width: 250px;
  /* overflow: hidden; */
  box-sizing: border-box;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: auto 1fr clamp(2rem, 14%, 4rem);
  grid-template-areas:
    "sectionHeading"
    "portContent"
    "portBotSpacer";
  align-items: center;
  justify-items: center;
  align-self: center;
  /* border: 2px orange solid; */
}

/* .portfolio-header {
  grid-area: portHeader;
  display: flex;
  width: 100%;
} */

.ph-left,
.ph-right {
  flex: 7;
}

.ph-mid {
  flex: 10;
  /* background: red; */
  /* height: 100%; */
  width: 100%;
}

.ph-svg-grandparent {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-right: 3px var(--primaryBlack) dashed;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph-svg-parent {
  aspect-ratio: 1/1;
  /* height: 100%; */
  width: 100%;
  border-radius: 50%;
  border-left: 3px var(--primaryBlack) dashed;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph-svg-container {
  aspect-ratio: 1/1;
  height: 100%;
  /* width: 100%; */
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px var(--primaryBlack) dashed;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.portfolio-item-container {
  position: relative;
  display: flex;
  justify-self: center;
  align-self: end;
  /* background: red; */
  flex-direction: column;
  height: 99%;
  /* background: pink-color; */
  /* border: 2px pink solid; */
  width: 90%;
  max-width: 400px;
  overflow: hidden;
  grid-area: portContent;
  /* border: 2px black solid; */
  z-index: 2147483647;
  /* border-radius: 20px; */
  /* border: 10px var(--primaryLight) solid; */
  /* border-radius: 50%; */
  /* aspect-ratio: 1/1; */
}

.portfolio-item {
  flex: 1;
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 10;
  /* border: 3px black solid; */
  /* gap: 15px; */
}

.img-div-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* background: var(--primaryBlack); */
}

.img-div {
  /* overflow: hidden; */
  position: relative;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  display: flex;
  /* width: 66.65%; */
  /* border-radius: 50%; */
  overflow: hidden;
  /* border: var(--code-color) 4px solid; */
  /* border-radius: 17px; */
  /* aspect-ratio: 1/1; */
}

.blur-div {
  display: flex;
  /* flex: 1; */
  /* background: rgba(255, 255, 255, 0.404); */
  /* background-color: black; */
  /* opacity: 0; */
  /* position: absolute;  */
  /* background: blue; */
  filter: blur(10px);
  /* backdrop-filter: blur(10px); */
  /* filter: blur(20px); */
  justify-content: center;
  align-items: center;
  position: absolute;
  /* left: 0; */
  /* top: 0; */
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
  /* background: red; */
  /* width: var(--portfolio-width); */
}

.portfolio-img {
  /* position: absolute; */
  /* height: 100%; */
  width: 100%;
}

/* .portfolio-circle-img {
  width: 66.65%;
} */

.project-info-container {
  /* opacity: 0; */
  transition: all 0.5s;
  /* position: absolute; */
  text-wrap: wrap;
  /* width: 100%; */
  /* overflow: hidden */
  /* max-width: 500px; */
  /* height: 70px; */
  margin-top: 4px;
  border: 4px var(--primaryShade) solid;
  border-radius: 0;
  border-top: none;
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--primary);
  overflow-y: auto;
  flex: 1;
  position: relative;
  /* z-index: -1; */
}

.project-info-container[data-isShown="true"] {
  /* height: 250px; */
  opacity: 1;
  filter: none;
  /* max-width: 500px; */
}

/* .project-title-spacer-div {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
} */

.project-title-container {
  position: absolute;
  max-width: 80%;
  background: var(--primaryShade);
  z-index: 20;
  bottom: 0;
  translate: 0 50%;
  justify-content: center;
  text-align: center;
  /* border-bottom: 4px solid var(--primaryBlack); */
  z-index: 200;
  border-radius: 20px;
}

/* #coding-title {
  background: var(--code-color);
} */

.project-title-container::after {
  content: "";
  width: 200%;
  position: absolute;
  bottom: 0;
  left: 100%;
  height: 50%;
  margin-bottom: -4px;
  border-top: 4px var(--primaryShade) solid;
  /* border-left: 4px var(--primaryBlack) solid; */
  box-sizing: content-box;
}

/* #coding-title::after {
  border-top: 4px var(--code-color) solid;
}

#coding-title::before {  
  border-top: 4px var(--code-color) solid;
} */

.project-title-container::before {
  content: "";
  width: 200%;
  position: absolute;
  bottom: 0;
  right: 100%;
  height: 50%;
  margin-bottom: -4px;
  border-top: 4px var(--primaryShade) solid;
  /* border-right: 4px var(--primaryBlack) solid; */
  box-sizing: content-box;
}

.project-title {
  overflow-wrap: normal;
  color: var(--primaryWhite);
  display: flex;
  font-size: clamp(0.85rem, 3vw, 1.1rem);
  margin: 0.5rem;
}

.project-title-container-ghost {
  position: relative;
  max-width: 25%;
  background: var(--primaryShade);
  /* z-index: 20; */
  /* bottom: 0; */
  /* translate: 0 50%; */
  justify-content: center;
  text-align: center;
  visibility: hidden;
  /* translate: 0 -50%; */
  /* margin-bottom: 50%; */
}

.project-title-ghost {
  overflow-wrap: normal;
  color: var(--primaryWhite);
  display: flex;
  font-size: 0.6rem;
  margin: 0;
}

.project-description,
.project-technology {
  color: var(--primaryBlack);
  font-weight: 0;
  font-size: 0.875rem;
  padding: 5px;
  z-index: -1;
  /* overflow: scroll; */
}

.project-description-list {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  justify-content: start;
  text-align: left;
  margin-left: 20px;
}

.project-technology {
  font-style: italic;
}

/* .blur-div:hover > .project-info-container {
  opacity: 1;
  transition: all .5s;
} */

.project-navigation {
  width: 100%;
  height: 40px;
  background: var(--primaryShade);
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

/* #coding-navigation {
  background: var(--code-color);
} */

.project-nav-btn {
  height: 100%;
  /* width: 100%; */
  position: relative;
  border: none;
  background: transparent;
  /* border: 2px black solid; */
  flex: 1;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  /* z-index: 1; */

  /* flex-direction: column; */
}

.back-btn-aro {
  height: 100%;
  width: auto;
}

#nav-next {
  filter: invert(1);
}

#nav-prev {
  transform: rotate(180deg);
  filter: invert(1);
}

#nav-back {
  transform: rotate(180deg);
}

.project-title-collapsed-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  /* background: red; */
  /* background: var(--primaryLightShade); */
  /* background: rgba(245, 245, 245, 0.267); */
  /* color: var(--primaryWhite); */
  background-color: rgba(255, 255, 255, 0.158);
}

#coding-col-title {
  background: linear-gradient(to right, var(--primaryLight) 5%, transparent 50%);
  /* color: white; */
  color: #3a3a3a;
  text-shadow: 1px 0px 7px rgba(255, 255, 255, 0.2), -1px 0px 7px rgba(255, 255, 255, 0.2),
    0px 3px 7px rgba(255, 255, 255, 0.2), 0px -3px 7px rgba(255, 255, 255, 0.2);
}

#craft-col-title {
  background: linear-gradient(to right, var(--craft-color) 5%, transparent 50%);
  color: #c5c5c5;
  text-shadow: 1px 0px 7px rgba(0, 0, 0, 0.2), -1px 0px 7px rgba(0, 0, 0, 0.2),
    0px 3px 7px rgba(0, 0, 0, 0.2), 0px -3px 7px rgba(0, 0, 0, 0.2);
}

#music-col-title {
  background: linear-gradient(to right, var(--music-color) 5%, transparent 50%);
  color: #d6d5d6;
  text-shadow: 1px 0px 7px rgba(0, 0, 0, 0.2), -1px 0px 7px rgba(0, 0, 0, 0.2),
    0px 3px 7px rgba(0, 0, 0, 0.2), 0px -3px 7px rgba(0, 0, 0, 0.2);
}

#video-col-title {
  background: linear-gradient(to right, var(--video-color), transparent);
  /* text-shadow: 1px 0px 7px rgba(255, 255, 255, 0.4),
    -1px 0px 7px rgba(255, 255, 255, 0.4), 0px 3px 7px rgba(255, 255, 255, 0.4),
    0px -3px 7px rgba(255, 255, 255, 0.4); */
}

.project-title-collapsed {
  font-size: clamp(0.85rem, 3vw, 1.1rem);
  /* line-height: .3; */
  /* color: var(--primaryBlack); */
  /* color: #bfbfbf; */
  /* color: rgb(255, 255, 255); */
  font-weight: 900;
  /* text-shadow: 1px 0px 7px rgba(255, 255, 255, 0.4),
    -1px 0px 7px rgba(255, 255, 255, 0.4), 0px 3px 7px rgba(255, 255, 255, 0.4),
    0px -3px 7px rgba(255, 255, 255, 0.4); */
}

/* .color-categorized {
  margin-bottom: 15px;
} */
/* #craft {
  border-top: 11px solid var(--color-cat4);
} */

/* #coding {
  border-top: 11px solid var(--color-cat1);
}

#music {
  border-top: 11px solid var(--color-cat2);
}

#video {
  border-top: 11px solid var(--color-cat3);
} */

/* .color-cat-key {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 25px;
  justify-content: stretch;
  margin: 0;
  width: max-content;
  height: max-content;
  padding-bottom: 0;
  align-items: flex-start;
  border: 2px var(--primaryShade) solid;
  padding: 5px;
  border-radius: 10px;
} */

/* SCROLLBAR */
.portfolio-item-container ::-webkit-scrollbar {
  width: 10px;
  padding-right: 10px;
}
.portfolio-item-container ::-webkit-scrollbar-track {
  border-radius: 10px;
  border-bottom: 2px var(--primaryShade) solid;
  border-top: 2px var(--primaryShade) solid;
}
.portfolio-item-container ::-webkit-scrollbar-thumb {
  border: 2px var(--primaryShade) dotted;
  border-top: 3px var(--primaryShade) solid;
  border-bottom: 3px var(--primaryShade) solid;
  border-radius: 5px;
  /* background: var(--primaryShade); */
}
.portfolio-item-container ::-webkit-scrollbar-thumb:hover {
  background: var(--primaryLightShade);
}

/* @media (width < 1000px) {
  .portfolio-item-container {
    flex-direction: column;
    max-height: 500px;
    max-width: 90vw;
  }
  .color-coded {
    display: none;
  }


  .color-cat-key {
    display: none;
  }
} */

.project-left-spacer {
  grid-area: sectionHeading;
  width: 100%;
  /* align-items: end; */
}

.color-key-parent-container {
  /* min-width: 100%; */
  /* width: 100%; */
  /* background: green; */
  width: 100%;
  /* min-height: 100%; */
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.color-key-wrapper {
  display: flex;
  width: 100%;
  /* border: 2px black solid; */
  /* background: yellow; */
  /* height: 50%; */
  /* width: min-content; */
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: start; */
  /* gap: 15px; */
  box-sizing: border-box;
}

.coding-color,
.music-color,
.craft-color,
.video-color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.coding-color {
  background-color: var(--code-color);
}
.music-color {
  background-color: var(--music-color);
}

.craft-color {
  background-color: var(--craft-color);
}

.video-color {
  background-color: var(--video-color);
}

.key-legend-item {
  /* flex: 1; */
  flex: 1;
  gap: 5px;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  /* border: 2px black solid; */
}

@media (width > 900px) {
  .portfolio-flex-container {
    grid-template-rows: 0 1fr clamp(2rem, 14%, 4rem);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "prjctPgLeft sectionHeading prjctPgRight"
      "prjctPgLeft portContent prjctPgRight"
      "prjctPgLeft portBotSpacer prjctPgRight";
    align-items: center;
    justify-items: center;
    align-self: center;

    /* background: red; */
    /* border: 2px orange solid; */
  }

  .portfolio-item-container {
    height: 90%;
    /* border-radius: 0 30px 30px 0; */
    /* background: red; */
  }

  .project-left-spacer,
  .project-right-spacer {
    height: 100%;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .project-left-spacer {
    grid-area: prjctPgLeft;
    /* align-items: end; */
  }

  .color-coded-wrapper {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 30px 0 0 30px;
  }

  .color-coded {
    /* position: absolute; */
    /* display: none; */
    width: 20px;
    height: 100%;
    display: none;
    /* flex: 1; */
    /* flex: 1; */
  }

  #coding {
    background: linear-gradient(
      to left,
      var(--code-color),
      transparent,
      transparent
    );
    margin: 0;
    padding: 0;
  }

  #coding:last-child {
    background: linear-gradient(
      to right,
      var(--code-color),
      transparent,
      transparent
    );
  }

  #craft {
    /* background: var(--craft-color); */
    margin: 0;
    padding: 0;
    background: linear-gradient(
      to left,
      var(--craft-color),
      transparent,
      transparent
    );
  }

  #craft:last-child {
    /* background: var(--craft-color); */
    margin: 0;
    padding: 0;
    background: linear-gradient(
      to right,
      var(--craft-color),
      transparent,
      transparent
    );
  }

  #music {
    background: linear-gradient(
      to left,
      var(--music-color),
      transparent,
      transparent
    );
  }

  #music:last-child {
    background: linear-gradient(
      to right,
      var(--music-color),
      transparent,
      transparent
    );
  }
  #video {
    background: linear-gradient(
      to left,
      var(--video-color),
      transparent,
      transparent
    );
  }

  #video:last-child {
    background: linear-gradient(
      to right,
      var(--video-color),
      transparent,
      transparent
    );
  }

  .color-key-parent-container {
    /* grid-area: sectionHeading; */
    /* width: 100%; */
    /* flex: 1; */
    /* background-color: green; */
    display: flex;
    width: 100%;
    flex-direction: column;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    border-radius: 50%;
    border-left: 7px var(--primaryLightShade) solid;
    border-top: 2px var(--primaryLightShade) solid;
    border-right: none;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    /* border-bottom: 2px var(--primaryBlack) solid; */
    position: relative;
  }

  .color-key-parent-container::after {
    content: "";
    position: absolute;
    width: 500%;
    top: 50%;
    right: calc(100% + 10px);
    border-bottom: 5px var(--primaryLightShade) dashed;
  }

  .color-key-wrapper {
    display: flex;
    height: 50%;
    width: min-content;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    box-sizing: border-box;
  }

  #key-legend-title {
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 2px var(--primaryShade) dashed;
    display: flex;
    width: max-content;
    justify-content: center;
    grid-area: colorKeyTitle;
    margin-bottom: 0;
  }



  .key-legend-item > div {
    margin-right: 0.5rem;
  }


  .project-right-spacer {
    grid-area: prjctPgRight;
    flex-direction: column;
  }

  .project-svg-wrapper {
    height: 25%;
    max-width: 200px;
    border-radius: 50%;
    border-top: 5px var(--primaryLightShade) solid;
    border-right: 2px var(--primaryLightShade) solid;
    border-bottom: 0px var(--primaryLightShade) solid;
    overflow: hidden;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    /* display: flex; */
    rotate: 30deg;
  }

  .dotted-lines-circle-left {
    position: absolute;
    width: 175%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-left: 2px var(--primaryLightShade) dashed;
    display: none;
  }

  .dotted-lines-circle-left::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    left: -25%;
    top: -25%;
    /* right: 0; */
    /* background: red; */
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-left: 2px var(--primaryLightShade) dashed;
  }

  .dotted-lines-circle-right {
    position: absolute;
    width: 175%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-right: 2px var(--primaryLightShade) dashed;
  }

  .dotted-lines-circle-right::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    left: -25%;
    top: -25%;
    /* right: 0; */
    /* background: red; */
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-right: 2px var(--primaryLightShade) dashed;
  }

  .project-svg-wrapper > svg {
    margin: 5%;
    /* width: 90%; */
    padding: 0;
    margin: 0;
    width: 80%;
    /* height: 80%; */
    height: auto;
    /* margin-top: 5%; */
    position: relative;
    color: red;
  }

  .dashed-vertical-flex-item {
    flex: 1;
    max-width: 50%;
    border-right: 2px var(--primaryLightShade) dashed;
  }

  .portfolio-comp-img,
  .portfolio-keys-img,
  .portfolio-woodworking-img {
    --primarySvgColor: #bfbfbf;
    --primarySvgWidth: 5px;
    rotate: -30deg;
  }

  .portfolio-keys-img,
  .portfolio-woodworking-img {
    --primarySvgWidth: 10px;
  }
}
