html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: tiltNeon;
}

#root {
  height: 100%;
  display: flex;
  border: black solid 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.page-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  /* border: 5px solid black; */
  grid-template-rows: 3fr 1fr;
  height: auto;
  margin: 0;
  padding: 0;
}

.sky {
  /* background: linear-gradient(rgb(0, 0, 0), rgb(236, 236, 236)); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-sky {
  background: radial-gradient(at bottom, rgb(46, 46, 46), black);
  /* background-color: gray; */
  /* background: linear-gradient(rgb(0, 0, 0), rgb(48, 48, 48)); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bgimg-container {
  background-image: url("../assets/transtextures/wall-4-light.png");
  /* position: absolute; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* border: pink 2px solid; */
  position: absolute;
  opacity: 5%;
}

.sky-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* border: orange 2px dashed; */
  position: absolute;
  display: flex;
}

.nav-circles {
  display: flex;
  gap: 10px;
}

.nav-circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  /* backface-visibility: hidden; */
  perspective: 50px;
}

div#circleone {
  background-color: rgb(255, 215, 215);
}

#circletwo {
  background-color: rgb(182, 183, 255);
}

#circlethree {
  background-color: rgb(220, 182, 255);
}

.ground {
  background: radial-gradient(black, black);
  position: relative;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.heading-container {
  position: absolute;
  /* border: 2px pink solid; */
  top: -3.5rem;
  display: grid;
  grid-template-areas: "place";
}

div.title-container {
  grid-area: place;
  z-index: 10;
}

div.reflection-container {
  grid-area: place;
  display: grid;
  height: 5rem;
  /* background-color: red; */
  /* transform: scaleY(1.5); */
  transform-origin: bottom;
  /* border: red solid 2px; */
  /* transform: perspective(100px) rotateX(20deg) scaleY(1.5) translateY(-3px); */
  /* transform-origin: top; */
  filter: blur(1px);
  /* box-shadow: 2px 2px 2px red; */
  /* overflow: hidden; */
}

h1.title-text,
h1.reflection-text {
  font-size: 7rem;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 5rem;
  /* text-shadow: 2px 40px 0px pink; */
}

h1.title-text {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 4px #fff, 0 0 10px #ffffffbb, 0 0 21px #ffffff9f,
    0 0 42px rgb(255, 126, 203, 0.5), 0 0 82px rgb(255, 126, 203, 0.4),
    0 0 92px rgb(255, 126, 203, 0.3), 0 0 102px rgb(255, 126, 203, 0.2),
    0 0 151px rgba(255, 126, 203, 0.1);
}

h1.reflection-text {
  position: absolute;
  color: rgba(128, 128, 128, 0.774);
  font-size: 7rem;
  line-height: 5.5rem;
  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: bottom;
  text-shadow: 0 0 4px #fff, 0 0 10px #ffffffbb, 0 0 21px #ffffff9f,
    0 0 42px rgb(255, 126, 203, 0.5), 0 0 82px rgb(255, 126, 203, 0.4),
    0 0 92px rgb(255, 126, 203, 0.3), 0 0 102px rgb(255, 126, 203, 0.2),
    0 0 151px rgba(255, 126, 203, 0.1);
  opacity: 80%;
  /* background: linear-gradient(black, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.reflection-cover {
  position: absolute;
  justify-self: center;
  /* border: red solid 2px; */
  width: 125%;
  height: 115%;
  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: bottom;
  /* box-shadow: inset 0px 20px 50px 5px black,
  inset 0px -2px 10px -10px red,
  0 0px 20px 50px black; */
  box-shadow: inset 0px 0px 50px 5px black,
  inset 0px -2px 10px -10px red,
  0 0px 40px 0px black;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-reflection {
  height: 100%;
  width: 100%;
  background: linear-gradient(black, white);
  /* border: red solid 3px; */
  justify-self: center;
  align-self: center;
  position: absolute;
  opacity: 50%;

}

.glass-reflection-two {
  position: absolute;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent -20%, rgb(255, 174, 0) 60%);
  opacity: 90%;
  /* border-radius: 50%; */
}

.reflection-blend {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at top, transparent -10%, rgba(255, 255, 255, 0.514) 40%, transparent 90%);
  opacity: 70%;
}