.skills-container {
  text-align: center;
  width: 100%;
  padding: 10px;
  height: calc(80% - 12px);
  box-sizing: border-box;
  color: var(--primaryBlack);
  /* color: green; */
  overflow: hidden;
}

#skills-right {
  padding-right: 0px;
  /* padding-bottom: -2px; */
  /* align-self: flex-end; */
  /* padding-bottom: 0px; */
}

#skills-left {
  padding-left: 0px;
  /* padding-top: -2px; */
  /* padding-top: 0px; */
}

.skill-title {
  font-weight: 100;
  font-size: 1.3rem;
  letter-spacing: 4px;
}

.skills-content-container {
  position: relative;
  display: grid;
  background-color: transparent;
  /* background: linear-gradient(to left, black, var(--primaryDark)); */
  width: 100%;
  height: 100%;
  grid-template-rows: 50% 50%;
  overflow: hidden;
  position: relative;
  /* background-color: red; */
}

.skill-group {
  display: grid;
  grid-template-rows: 1fr 3fr;
  /* border: 1px black solid; */
  box-sizing: border-box;
}

#skills-group-general,
#skills-group-audio {
  border-top: none;

}

.skills-heading {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}

.skill-title {
  margin: 0;

  box-sizing: border-box;
  margin-top: 2px;
}

.skills-list-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 100%;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  margin: 0 50px;
  padding: none;
  justify-content: center;
  align-items: center;
}
