
.sky {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px orange solid; */
  position: relative;
} 

.bgimg-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

#light .bgimg-container {
  background-image: url("../assets/transtextures/scribble-light.png");
  opacity: 50%;
}

.sky-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* border: orange 2px dashed; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-container {
  flex: 1;
  /* border: 2px solid black; */
  display: flex; 
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


/* darkmode */
#dark .sky {
  background: radial-gradient(at bottom, rgb(46, 46, 46), black);
  position: relative;
}



#dark .bgimg-container {
  background-image: url("../assets/transtextures/wall-4-light.png");
  opacity: 5%;
}








