@font-face {
  font-family: tiltNeon;
  src: url("./font/Tilt_Neon/static/TiltNeon-Regular.ttf");
}

@font-face {
  font-family: CourierPrime;
  src: url("./font/Courier_Prime/CourierPrime-Regular.ttf");
}
